!!! XML
!!!

%html{'xmlns' => 'http://www.w3.org/1999/xhtml', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml'}
  %head
    = stylesheet('jqModal')
    = stylesheet(['jquery-ui/ui.core'])
    = stylesheet('main', :sass)
    = javascript('jquery/jquery-1.3')
    = javascript(['jquery/jquery.form', 'jquery/jquery.cookie', 'jquery/jqModal'])
    = javascript(['jquery/ui/ui.core', 'jquery/ui/ui.draggable', 'jquery/ui/ui.droppable', 'jquery/ui/ui.sortable'])
    = javascript(['jquery/ui/effects.core', 'jquery/ui/effects.transfer'])
    = javascript('main')
  %body
    = yield