= haml '/partials/logged_in'.to_sym, :layout => false
= haml '/partials/header'.to_sym, :layout => false

%h1== Hi #{@user.username}

- if @province.nil?
  %div
    %h1 Your Kingdom
- else 
  %div#province_summary
    %h1== Province #{@province.name}
  
%div#people_summary
  %h1
    Your People
  %h2
    Population
  %div
    == Men: #{@provinces.first.population.men.sum.inspect}
  %div
    == Women: #{@provinces.first.population.women.sum.inspect}
  %div
    == Boys: #{@provinces.first.population.boys.sum.inspect}
  %div
    == Girls: #{@provinces.first.population.girls.sum.inspect}
  %div
    == Bebbies: #{@provinces.first.population.bebbies.sum.inspect}
  
%div#land_summary
  %h1 Your Land
  %div
    %h2 Your Buildings
    %ul
      - @provinces.first.buildings.all.each_pair do |b,q|
        %li== #{b}: #{q}

  %div
    %h2 Your Build Queue
    %ol
      - if @provinces.first.buildings.build_queue.length == 0
        Currently empty
      - @provinces.first.buildings.build_queue.each do |(type, quantity)|
        %li== #{type}: #{quantity}
  
%div#neighbors_summary
  %h1 Your Neighbors

%div#wars_summary
  %h1 Your Wars